# Unity — carpetas generadas
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Proyectos de IDE generados
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
.vsconfig

# Artefactos de build
*.apk
*.aab
*.unitypackage
*.app

# Crash reports
sysinfo.txt
crashlytics-build.properties

# Sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
